<!-- FOOTER SECTION -->

<footer id="footer-container">
    <div class="footer-items">
      <a href="/#home-section" class="footer-items col">HOME</a>
      <a href="/#about-section" class="footer-items col">ABOUT</a>
      <a href="/projects" class="footer-items col">PROJECTS</a>
      <a href="/contact" class="footer-items col">CONTACT</a>
    </div>
    
    <div class="footer-social-items">
      <!-- <i class="fa-brands fa-github fa-beat-fade"></i> -->
      <a href="https://github.com/CatherineALSKFF"><i class="fa-brands fa-github"></i></a>
      <i class="fa-brands fa-twitter"></i>
     <a href="https://www.linkedin.com/in/catherina-al-skaff-077a8a172/"> <i class="fa-brands fa-linkedin-in"></i></a>
      <i class="fa-brands fa-instagram"></i>
    </div>
    
    <div id="break"></div>
    
    <span class='copyright'>
    Copyright 2023. Made by <a href="/#home-section">Catherine Al Skaff</a>  
    </span>
    
    
    </footer>