<!-- HOME SECTION -->

<section id="navbar-container" class="">

    <!-- NAVBAR  -->
          <nav class="navbar navbar-expand-md navbar-dark">
              <div class="container-fluid">
      
             
                <a class="navbar-brand" id="nameInLogo" href="/">
                  <span id="elipsed">CS</span> CATHERINE </a>
      
                <button id="nav-button" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                 <i class="fa-sharp fa-solid fa-bars-staggered"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                  <ul class="nav justify-content-end nav-pills">
                      <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/#home-section">HOME</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/#about-section">ABOUT</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/projects">PROJECTS</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link contact-button " id="contact-btn" href="/#contact-section">CONTACT</a>
                      </li>
                    </ul>
                </div>
              </div>
            </nav>
      </div>
    
    </section>
    