/* ELEMENTS */
#separator-box {
    /* background: #221e22; */
    background: linear-gradient(to left, rgba(41, 48, 95, 0.978) 0%, rgb(16, 10, 9) 100%);
    border-radius: 30px;
    height: 5em;
    margin: 0px;
    opacity: 0.7;
    box-shadow: #c9c2c2;
    

}

body {
    /* background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%); */
    /* background: linear-gradient(to left, rgba(26, 32, 69, 0.9782986111111112) 0%,rgba(167, 93, 85, 1) 100%); */
    background: linear-gradient(113.49deg, rgba(26, 32, 69, 0.9782986111111112) 0%, rgba(167, 93, 85, 1) 100%);
    font-family: 'Poppins';
    
}


.break {
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 2em;
}

#separator-text {
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 2.3em;
    text-align: center;
    color: #FFFFFF;


    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* HOME SECTION */

/* NAVBAR */

#elipsed {
    border: 1px solid #ffffff;
    border-radius: 60%;
    padding: 2.5%;
}

.nav-link {
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    color: #FFFFFF;
}

#nameInLogo {

    font-style: normal;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 30px;
}

#nav-button {
    border: none;
}

#contact-btn {
    border: #FFFFFF solid 1px;
    border-radius: 15px;
}

/* HOME CONTENT */
#navbar-container {
    /* background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%); */
    padding: 3% 8%;
    margin-bottom: 5em;
    margin-bottom: 0;
}

#home-content {
    text-align: center;
    color: rgb(152, 233, 152);
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    line-height: 93px;
    letter-spacing: 0.3px;
    text-align: center;
    color: #FFFFFF;
    display: block;

}

.subheading {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 0.3px;
    display: block;

    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.exp-text {
    color: rgba(255, 255, 255, 0.5);

    font-size: 1.5em;
    letter-spacing: 0.3px;
}


/* HOME PICTURE */


#home-picture {
    width: 60%;
    max-width: 400px;
    max-height: 200px;
    /* height: 30vh; */
    opacity: 60%;
    flex-shrink: inherit;
    align-self: center;
    position: absolute;
    bottom: 0;
    left: 0;
}



/* ABOUT SECTION */

#about-section {
    padding: 3% 8%;
    /* background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%); */
}

#about-pic {
    width: 200px;
    height: 200px;
}



/* SKILL SECTION */

.skill-list-title {

    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 67px;
    text-align: center;

    color: #FFFFFF;
}

.skill-list li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;
}

.skills-container {
    text-align: center;
    padding: 1em;
}



/* CONTACT SECTION */


#contact-section {
    padding: 3% 8%;

}

.card {
    background-color: rgb(26, 1, 27, .5);
    width: 90%;
    margin: 7% auto;
    padding: 5%;
}


.form-control {
    background-color: transparent;
    color: beige;
}

.form-floating label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;

    line-height: 30px;

    color: #c9c2c2;


}

.contact-btn-form {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
}


/* FOOTER SECTION */

footer {
    /* background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%); */
    padding: 0;
    height: 20%;
    background-color: rgba(22, 1, 23, 0.7);


    text-align: center;
    width: 100vw;
    margin: 0;
}


.footer-items {
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 4%;
}

.footer-social-items {
    padding: 4%;
}

.copyright {
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;

}

.fa-brands {
    color: white;
    padding: 3%;
    font-size: larger;
}









#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-content {
    margin-bottom: 0;
}

#home-content .row {
    display: flex;
    justify-content: center;
    align-items: center;
}





.img-cont {
    margin-bottom: 0;
}





@media (min-width:800px) {


    #about-pic {
        height: 400px;
        width: 400px;
    }
}

@media (max-width: 800px) {
    #about-pic {
        display: none;
    }
}














/* PROJECTS STYLES PAGE */

/* General Project Section Styling */
#projects-section {
    display: flex;
    flex-direction: column;
    padding: 3% 8%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    letter-spacing: 0.3px;
  }
  .project-title{
    font-size: 1.7em;
  }
  
  .project-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;
  }
  
  .project-details, .project-video {
    width: 100%; /* Adjusts to full width on mobile */
  }
  
  .video-iframe {
    width: 100%;
    height: 300px; /* Adjust height as needed */
    border-radius: 40px;
    border: none;
    margin-top: 7rem; /* Margin-top applied by default for smaller screens */
}
  
  /* Styling for larger screens */
  @media (min-width: 768px) { /* Adjust breakpoint as needed */
    .project-block {
      flex-direction: row;
      justify-content: space-between;
    }

    .video-iframe {
        margin-top: 0; /* Removes margin-top for larger screens */
    }

    .project-reverse {
      flex-direction: row-reverse;
    }

  
    .project-details, .project-video {
      flex: 1;
      padding: 0 20px;
    }
  }
  



  .nextjs-logo {
    width: 4vw;
    min-width: 10px;
    height: auto;
  }
  



  .icon-size {
    font-size: 4vw; /* Adjusting icon size based on viewport width */
  }
  .icon-size img {
    width: 4vw; /* Adjusting image width to match icon sizes */
  }