<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatherinaAlSkaff</title>
    <script src="https://kit.fontawesome.com/bde2551b4f.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Dancing+Script&family=Play:wght@400;700&family=Poppins:ital,wght@0,600;1,500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet/styles.css">
</head>




<body>

<!-- HOME SECTION -->

<section id="home-section">

<!-- NAVBAR  -->
      <nav class="navbar navbar-expand-md navbar-dark">
          <div class="container-fluid">
  
         
            <a class="navbar-brand" id="nameInLogo" href="#">
              <span id="elipsed">CS</span> Catherine </a>
  
            <button id="nav-button" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
             <i class="fa-sharp fa-solid fa-bars-staggered"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="nav justify-content-end nav-pills">
                  <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#home-section">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#about-section">ABOUT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#projects-section">PROJECTS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link contact-button " href="#contact-section">CONTACT</a>
                  </li>
                </ul>
            </div>
          </div>
        </nav>
  </div>


  <div class="container-fluid" id="home-container">
<!-- HOME CONTENT -->
<div id="home-content row justify-content-center">
<span class="heading col col-12">I’m Catherine Al Skaff.</span>
<span class="subheading col col-12 ">Full Stack Web Developer</span>
<div  class="row img-cont" style="margin-bottom: 0px; padding-bottom: 0px; height:100%">
<img class="col-6 offset-3 home-img" style="margin-bottom: 0px; padding-bottom: 0px;" src="\images\catherina 1 edited.png" alt="">
</div>
</div>
</section>





<!-- SEPARATOR BOX 1 -->
<div class="" id="separator-box">
  <p id="separator-text">ABOUT</p>
</div>
</div>

<!-- ABOUT SECTION -->
<section id="about-section">
   

  <div class="about-content row container-fluid">

<div class="img-about col  col-xsm-12 col-sm-12 col-md-6">
  <h1 class="heading">WEB DEVELOPER BASED IN SWEDEN.</h1>
  <p class="subheading">I'm a web developer who loves crafting user-friendly websites. When I'm not coding, you can find me binge-watching Netflix or attempting to make puns. Let's connect and make the internet a better place, one line of code at a time.</p>
</div>


<div class="text-about col col-xsm-12 col-sm-12 col-md-6">
  <img id="about-pic" src="\images\catherine 2.png" alt="">

</div>
</div>


<!-- BREAK -->
<div class="break"></div>



<!-- SKILLS SECTION -->
<div>

<div >
  <span class="heading col col-12">Skills and Knowledge</span>
  <span class="subheading col col-12 ">I Work in Front End and Backend</span>
</div>

<div class="row">
<div class="col col-md-6 col--12 skills-container">
  <label for="front-end-list" class="skill-list-title">Front ENd</label>
  <ul class="skill-list" id="front-end-list" style="list-style-type: none;">
    <li>HTML</li>
    <li>CSS</li>
    <li>JAVASCRIPT</li>
    <li>BOOTSTRAP</li>
    <li>JQUERY</li>
    <li>REACT</li>
    <li>FIGMA</li>
  </ul>
</div>

<div class="col col-md-6 col-12 skills-container">
  <label for="back-end-list" class="skill-list-title">Back ENd</label>
  <ul class="skill-list" id="back-end-list" style="list-style-type: none;">
    <li>NODE.JS</li>
    <li>EXPRESS.JS</li>
    <li>MONGODB</li>
    <li>MONGOOSE</li>
    <li>RESTFUL APIs</li>
    <li>GIT/GITHUB</li>
  </ul>
</div>

</div>
</div>
</section>

<!-- SEPARATOR BOX 2 -->
<div class=" container-fluid row" id="separator-box">
  <p id="separator-text">PROJECTS</p>
</div>



<!-- PROJECTS SECTION -->
<section id="projects-section">
 
  <div id="projects-carousel" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#projects-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#projects-carousel" data-bs-slide-to="1" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#projects-carousel" data-bs-slide-to="2" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#projects-carousel" data-bs-slide-to="3" aria-label="Slide 3"></button>

    </div>


    <div class="carousel-inner">

      <div class="carousel-item active">
        <div id="works-container" style="align-items: center;" class="row">
          <div class="">
            <img  id='project-img ' style="width: 100%; align-self: center;" src="/images/techfundme.png" alt="" class="worksImage justify-content-center">
          </div>
          <div >
          <h1 class="heading">TechFundMe</h1>
          <p class="exp-text">CrowdFundMe is a blockchain crowdfunding website, to support tech causes and campaigns that you believe in and also get support. 
            (To use it you should have the Metamask extension on your desktop, it uses the Sepolia testcoin).
          </p>
          <p class="subheading">Used Tech</p>
          <p class="exp-text">Technology used: HTML, CSS, JS, React, Tailwind, Thirdweb, web3, SmartContracts, Solidity, The Power of Blockchain.</p>
         <a href="https://techfundme.net/"> <button  class="btn btn-outline-light "> Visit the Page </button></a>
        

         <a href="https://github.com/CatherineALSKFF/techfundme">  <i class="fa-brands fa-github"></i></a>

          
          </div>
         
          </div>
        
      </div>



      <div class="carousel-item ">
        <div id="works-container" style="align-items: center;" class="row">
          <div class="">
            <img  id='project-img ' style="width: 100%; align-self: center;" src="/images/eventures.png" alt="" class="worksImage justify-content-center">
          </div>
          <div >
          <h1 class="heading">Eventures</h1>
          <p class="exp-text">Eventures is a website that I made from scratch. It's used for finding events around the world, posting events and reviewing events so you can pick up your jam. 
          </p>
          <p class="subheading">Used Tech</p>
          <p class="exp-text">Technology used: HTML, CSS, JS, Bootstrap, Node.js, Mongoose, Mapbox, Cloudinary, Passport.js, Authentication and Authorization.</p>
         <a href="https://eventures.onrender.com"> <button  class="btn btn-outline-light "> Visit the Page </button></a>
         <a href="https://github.com/CatherineALSKFF/Eventures">  <i class="fa-brands fa-github"></i></a>


          
          </div>
         
          </div>
        
      </div>
     

      <div class="carousel-item">
        <div id="works-container" class="row">
          <div class=" ">
            <img  id='project-img' src="/images/skafstones.png" alt="" class="worksImage">
          </div>
          <div >
            <h1 class="heading">Skaf Stones</h1>
            <p class="exp-text"> This website is for a Stone Gallery Business based in my home country displaying the beauties of Lebanon's natural stones. 
            </p>
            <p class="subheading">Used Tech</p>
            <p class="exp-text">Technology used: HTML, CSS, JS, EJS, Bootstrap, Node.js, and basic security of course(like helmet and mongo-sanitize and so forth).</p>
           <a href="https://skafsstones.onrender.com/"> <button  class="btn btn-outline-light "> Visit the Page </button></a>
           <a href="https://github.com/CatherineALSKFF/SkafStones">  <i class="fa-brands fa-github"></i></a>
  
  
            
          </div>
         
          </div>
      </div>



      <div class="carousel-item">
        <div id="works-container" class="row">
          <div class=" ">
            <img  id='project-img' src="\images\coming soon.jpg" alt="" class="worksImage">
          </div>
         
         
          </div>
      </div>


      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#projects-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#projects-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>




<!-- SEPARATOR BOX 3 -->
<div class=" container-fluid row" id="separator-box">
  <p id="separator-text">CONTACT</p>
</div>


<!-- CONTACTS SECTION -->
<section id="contact-section">
<span class="heading">Send A Message.</span>
<span class="subheading">Feel free to Contact me by submitting the form below and I will get back to you as soon as possible
  Name</span>
<div class="card">
 <form action="/contact" method="post">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" name="contact[name]" id="nameInput" placeholder="Type your Name">
    <label for="nameInput">Name</label>
  </div>

  <div class="form-floating mb-3">
    <input type="email" name="contact[email]" class="form-control" id="emailInput" placeholder="name@example.com">
    <label for="emailInput">Email address</label>
  </div>
 
  <div class="form-floating mb-3">
    <textarea class="form-control" name="contact[message]" id="messageInput" style="height: 10em" placeholder="Enter a message "></textarea>
    <label for="messageInput">Leave a message here</label>
  </div>
  <button type="submit" class="btn btn-outline-light">Click To Send</button>
</div>
</form>
</section>







<!-- FOOTER SECTION -->

<section id="footer-section">
<div id="footer-container">
<div class="footer-items">
  <a href="#home-section" class="footer-items col">HOME</a>
  <a href="#about-section" class="footer-items col">ABOUT</a>
  <a href="#projects-section" class="footer-items col">PROJECTS</a>
  <a href="#contact-section" class="footer-items col">CONTACT</a>
</div>

<div class="footer-social-items">
  <i class="fa-brands fa-github fa-beat-fade"></i>
  <a href="https://github.com/CatherineALSKFF"><i class="fa-brands fa-github"></i></a>
  <i class="fa-brands fa-twitter"></i>
 <a href="https://www.linkedin.com/in/catherina-al-skaff-077a8a172/"> <i class="fa-brands fa-linkedin-in"></i></a>
  <i class="fa-brands fa-instagram"></i>
</div>

<div id="break"></div>

<span class='copyright'>
Copyright 2023. Made by <a href="">Catherine Al Skaff</a>  
</span>


</div>

</section>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>

