<% layout('layouts/boilerplate')%>


<section id="body-container" class="">

<!-- banner CONTENT -->
  <div class="container-fluid " id="home-container">

<div id="home-content row justify-content-center ">
<span class="heading col col-12">I’m Catherine Al Skaff.</span>
<span class="subheading col col-12 ">Full Stack Web Developer</span>
<div  class="row img-cont" style="margin-bottom: 0px; padding-bottom: 0px; height:100%">
<img class="col-6 offset-3 "  style="margin-bottom: 0px; padding-bottom: 0px;" src="\images\catherina 1 edited.png" alt="">
</div>
</div>










<div class=" container-fluid row" id="separator-box">
  <p id="separator-text">ABOUT</p>
</div>

<!-- ABOUT SECTION -->
<section id="about-section">
   



<div class="about-content row container-fluid">
  <div class="img-about col col-xsm-12 col-sm-12 col-md-6" data-aos="fade-right" data-aos-duration="1500">
    <h1 class="heading">WEB DEVELOPER BASED IN NORWAY.</h1>
    <p class="subheading">I'm a web developer who loves crafting user-friendly websites. When I'm not coding, you can find me binge-watching Netflix or attempting to make puns. Let's connect and make the internet a better place, one line of code at a time.</p>
  </div>

  <div class="text-about col col-xsm-12 col-sm-12 col-md-6" data-aos="fade-left" data-aos-duration="1500">
    <img id="about-pic" src="\images\catherine 2.png" alt="">
  </div>
</div>


<!-- BREAK -->
<div class="break"></div>




<div>
  <div>
    <span class="heading col-12">Skills and Knowledge</span>
    <span class="subheading col-12">I Work in Front End and Backend, making custom websites</span>
  </div>

  <!-- Front-end skills list, aligned to the right -->
  <div class="d-flex justify-content-center mt-4 px-4">
    <div class="skills-container" data-aos="fade-right" data-aos-duration="1500" style="justify-content: flex-end; width: 100%;">
      <ul class="skill-list d-flex justify-content-start align-items-center" id="front-end-list" style="list-style-type: none; padding: 0;">
        <li class="mx-2"><i class="fa-brands fa-html5 icon-size"></i></li>
        <li class="mx-2"><i class="fa-brands fa-css3 icon-size"></i></li>
        <li class="mx-2"><i class="fa-brands fa-js icon-size"></i></li>
        <li class="mx-2"><i class="fa-brands fa-bootstrap icon-size"></i></li>
        <li class="mx-2"><img src="/images/nextjslogo.png" class="img-fluid nextjs-logo icon-size" alt=""></li>
      </ul>
    </div>
  </div>

  <!-- Back-end skills list, aligned to the left -->
  <div class="d-flex justify-content-center mt-4 px-4">
    <div class="skills-container" data-aos="fade-left" data-aos-duration="1500" style="justify-content: flex-start; width: 100%;">
      <ul class="skill-list d-flex justify-content-end align-items-center" id="back-end-list" style="list-style-type: none; padding: 0;">
        <li class="mx-2"><i class="fa-brands fa-react icon-size"></i></li>
        <li class="mx-2"><i class="fa-brands fa-figma icon-size"></i></li>
        <li class="mx-2"><i class="fa-brands fa-node-js icon-size"></i></li>
        <li class="mx-2"><i class="fa-solid fa-database icon-size"></i></li>
        <li class="mx-2"><i class="fa-brands fa-github icon-size"></i></li>
      </ul>
    </div>
  </div>
</div>


</section>



</section>


