<% layout('layouts/boilerplate')%>




<!-- PROJECTS SECTION -->
<section id="projects-section">
 
  <div id="projects-carousel" class="carousel slide" data-bs-ride="true" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#projects-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#projects-carousel" data-bs-slide-to="1" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#projects-carousel" data-bs-slide-to="2" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#projects-carousel" data-bs-slide-to="3" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#projects-carousel" data-bs-slide-to="4" aria-label="Slide 4"></button>

    </div>


    <div class="carousel-inner">

      <div class="carousel-item active">
        <div id="works-container" style="align-items: center;" class="row">
          <div class="">
            <img  id='project-img ' style="width: 100%; align-self: center; border-radius: 30px;" src="/images/fastingfocused.png" alt="" class="worksImage justify-content-center">
          </div>
          <div >
          <h1 class="heading">Fasting Focused</h1>
          <p class="exp-text">I collaborated with my client Christian (an amazing personal trainer) and developed and marketed his website that helps you achieve your health goal! Don't only check the amazing platform but give him some support!
          </p>
          <p class="subheading">Used Tech</p>
          <p class="exp-text">Technology used: HTML, CSS, JS, React, Next.js, Tailwind, Stripe, We also are using the power of Google Analytics.</p>
         <a href="https://fastingfocused.com/"> <button  class="btn btn-outline-light "> Visit the Page </button></a>
        

         <a href="https://github.com/CatherineALSKFF/Fast-Focused">  <i class="fa-brands fa-github"></i></a>

          
          </div>
         
          </div>
        
      </div>

      <div class="carousel-item ">
        <div id="works-container" style="align-items: center; " class="row">
          <div class="">
            <img  id='project-img ' style="width: 100%; align-self: center; border-radius: 30px;" src="/images/techfundme.png" alt="" class="worksImage justify-content-center">
          </div>
          <div >
          <h1 class="heading">TechFundMe</h1>
          <p class="exp-text">CrowdFundMe is a blockchain crowdfunding website, to support tech causes and campaigns that you believe in and also get support. 
            (To use it you should have the Metamask extension on your desktop, it uses the Sepolia testcoin).
          </p>
          <p class="subheading">Used Tech</p>
          <p class="exp-text">Technology used: HTML, CSS, JS, React, Tailwind, Thirdweb, web3, SmartContracts, Solidity, The Power of Blockchain.</p>
         <a href="https://techfundme.net/"> <button  class="btn btn-outline-light "> Visit the Page </button></a>
        

         <a href="https://github.com/CatherineALSKFF/techfundme">  <i class="fa-brands fa-github"></i></a>

          
          </div>
         
          </div>
        
      </div>



      <div class="carousel-item ">
        <div id="works-container" style="align-items: center;" class="row">
          <div class="">
            <img  id='project-img ' style="width: 100%; align-self: center; border-radius: 30px;" src="/images/eventures.png" alt="" class="worksImage justify-content-center">
          </div>
          <div >
          <h1 class="heading">Eventures</h1>
          <p class="exp-text">Eventures is a website that I made from scratch. It's used for finding events around the world, posting events and reviewing events so you can pick up your jam. 
          </p>
          <p class="subheading">Used Tech</p>
          <p class="exp-text">Technology used: HTML, CSS, JS, Bootstrap, Node.js, Mongoose, Mapbox, Cloudinary, Passport.js, Authentication and Authorization.</p>
         <a href="https://eventures.ventures/"> <button  class="btn btn-outline-light "> Visit the Page </button></a>
         <a href="https://github.com/CatherineALSKFF/Eventures">  <i class="fa-brands fa-github"></i></a>


          
          </div>
         
          </div>
        
      </div>
     

      <div class="carousel-item">
        <div id="works-container" class="row">
          <div class=" ">
            <img  id='project-img' src="/images/skafstones.png" alt="" class="worksImage" style="border-radius: 30px;">
          </div>
          <div >
            <h1 class="heading">Skaf Stones</h1>
            <p class="exp-text"> This website is for a Stone Gallery Business based in my home country displaying the beauties of Lebanon's natural stones. 
            </p>
            <p class="subheading">Used Tech</p>
            <p class="exp-text">Technology used: HTML, CSS, JS, EJS, Bootstrap, Node.js, and basic security of course(like helmet and mongo-sanitize and so forth).</p>
           <a href="https://skafstones.store/"> <button  class="btn btn-outline-light "> Visit the Page </button></a>
           <a href="https://github.com/CatherineALSKFF/SkafStones">  <i class="fa-brands fa-github"></i></a>
  
  
            
          </div>
         
          </div>
      </div>



      <div class="carousel-item">
        <div id="works-container" class="row">
          <div class=" ">
            <img  id='project-img' src="\images\coming soon.jpg" alt="" class="worksImage" style="border-radius: 30px;">
          </div>
         
         
          </div>
      </div>


      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#projects-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#projects-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>



